/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* PHONE PORTRAIT LAYOUT (min-width: 480px)
   ========================================================================== */
@media (min-width: 30em) and (max-width: 61.1875em) {
  /*
   * The layout when there is only one sidebar, the left one.
   */
}
@media (min-width: 47.5em) {
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content, .two-sidebars #content {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
  }
  .sidebar-first #sidebar-first, .two-sidebars #sidebar-first {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second .region-content, .two-sidebars .region-content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}
/* TABLET PORTRAIT LAYOUT (min-width: 600px to 960px)
   ========================================================================== */
/* DESKTOP LAYOUT (min-width: 960px+)
  ========================================================================== */
@media (min-width: 61.25em) {
 /*
* The layout when there is only one sidebar, the left one.
*/
  .sidebar-first #content, .two-sidebars #content {
    float: right;
    width: 70.83333%;
    margin-right: 29.16667%;
    margin-left: -100%;
  }
  .sidebar-first #sidebar-first, .two-sidebars #sidebar-first {
    float: right;
    width: 29.16667%;
    margin-right: 0%;
    margin-left: -29.16667%;
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
}
