/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* Behavior
   ========================================================================= */
@media (max-width: 47.4375em) {
  html.js #navigation {
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    -moz-transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    -o-transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    transition: max-height 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.04);
    max-height: 0;
  }
}
@media (min-width: 47.5em) {
  html.js #navigation {
    max-height: 30em;
  }
}

html.js body.show-nav #navigation {
  max-height: 30em;
}

/* Styles
   ========================================================================= */
#navigation {
  clear: both;
  float: none;
  background: #0b4d6e;
  margin-left: -24px;
  margin-right: -24px;
}
@media (min-width: 47.5em) {
  #navigation {
    margin-top: 44px;
  }
}
#navigation .block {
  margin-bottom: 0;
}
#navigation ul.menu li {
  float: none;
  text-align: center;
  border-bottom: 1px solid #062d40;
  margin-bottom: 0;
}
#navigation ul.menu li.last a {
  border-bottom: 1px solid #0b4d6e;
}
#navigation ul.menu li a {
  padding: 1em;
  display: block;
  text-align: center;
  color: #fff;
  text-shadow: #020c11 0 0 1px 0px 1px #aaaaaa;
}
#navigation ul.menu li a:hover {
  background: #093d57;
}
#navigation ul.menu li a:active {
  -webkit-box-shadow: #093d57 0 0 10px inset;
  -moz-box-shadow: #093d57 0 0 10px inset;
  box-shadow: #093d57 0 0 10px inset;
  background: #0d5d85;
}

/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* Behavior
   ========================================================================= */
@media (min-width: 47.5em) {
  #mobile-nav-toggle {
    display: none;
  }
}

#mobile-nav-toggle {
  position: absolute;
  top: 44px;
  right: 24px;
}

/* Toggle Button
   ========================================================================= */
.nav-button {
  display: block;
  width: 36px;
  height: 32px;
  cursor: pointer;
}

.nav-button {
  background-color: transparent;
  color: #0b4d6e;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 7px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 18px;
  margin-bottom: 0;
  text-align: center;
}
.nav-button:hover, .nav-button:active {
  color: #148ecb;
}
.nav-button:hover .toggle-bar, .nav-button:active .toggle-bar {
  background-color: #148ecb;
}

.toggle-bar {
  background-color: #0b4d6e;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  display: block;
  margin-top: 0;
  height: 3px;
  width: 24px;
  line-height: 14px;
  vertical-align: text-top;
}

.toggle-bar + .toggle-bar {
  margin-top: 3px;
}

/* Base Desktop Styles
   ========================================================================= */
@media (min-width: 47.5em) {
  #navigation {
    margin-left: 0;
    margin-right: 0;
    float: right;
    clear: none;
    background: none;
  }
  #navigation .block-menu .block-title,
  #navigation .block-menu-block .block-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  #navigation ul.links,
  #navigation ul.menu {
    /* Menu block links */
    margin: 0;
    padding: 0;
    text-align: left;
    /* LTR */
  }
  #navigation ul.links li,
  #navigation ul.menu li {
    /* A simple method to get navigation links to appear in one line. */
    float: left;
    /* LTR */
    padding: 0 10px 0 0;
    /* LTR */
    list-style-type: none;
    list-style-image: none;
    border-bottom: none;
  }
  #navigation ul.links li.last,
  #navigation ul.menu li.last {
    margin-right: 0;
    padding-right: 0;
  }
  #navigation ul.links li.last a,
  #navigation ul.menu li.last a {
    border-bottom: 2px solid transparent;
  }
  #navigation ul.links li a,
  #navigation ul.menu li a {
    padding: .25em .5em;
    font-size: .8461em;
    line-height: 1;
    padding: .75em 1em .5em 1em;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    color: #0b4d6e;
    background: url('../../../images/generated/0000000d.png?1384016515');
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid transparent;
  }
  #navigation ul.links li a:hover,
  #navigation ul.menu li a:hover {
    padding-top: 1em;
    background: url('../../../images/generated/0000000d.png?1384016515');
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid #0b4d6e;
  }
  #navigation ul.links li a:active,
  #navigation ul.menu li a:active {
    background: #093d57;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px inset;
    color: #fff;
  }
  #navigation ul.links .menu-mlid-546 a:hover,
  #navigation ul.menu .menu-mlid-546 a:hover {
    border-bottom: 2px solid #ad881d;
  }
  #navigation ul.links .menu-mlid-546 a:active,
  #navigation ul.menu .menu-mlid-546 a:active {
    background: #ad881d;
  }
  #navigation ul.links .menu-mlid-547 a:hover,
  #navigation ul.menu .menu-mlid-547 a:hover {
    border-bottom: 2px solid #90749d;
  }
  #navigation ul.links .menu-mlid-547 a:active,
  #navigation ul.menu .menu-mlid-547 a:active {
    background: #90749d;
  }
  #navigation ul.links .menu-mlid-548 a:hover,
  #navigation ul.menu .menu-mlid-548 a:hover {
    border-bottom: 2px solid #78ac7e;
  }
  #navigation ul.links .menu-mlid-548 a:active,
  #navigation ul.menu .menu-mlid-548 a:active {
    background: #78ac7e;
  }
  #navigation ul.links .menu-mlid-549 a:hover,
  #navigation ul.menu .menu-mlid-549 a:hover {
    border-bottom: 2px solid #91521d;
  }
  #navigation ul.links .menu-mlid-549 a:active,
  #navigation ul.menu .menu-mlid-549 a:active {
    background: #91521d;
  }
}
