/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* admin nav menu */
#theming-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  height: 100%;
  -webkit-transform: translateX(-275px);
  -moz-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 280px;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  border-right: 5px solid #0b4d6e;
  border-right-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 46px 20px 20px 20px;
}
#theming-sidebar.active {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#theming-sidebar.active #links-toggle {
  border-top: 1px solid #0b4d6e;
  border-right: 1px solid #0b4d6e;
  border-bottom: 1px solid #0b4d6e;
}

.no-csstransforms.no-csstransitions #theming-sidebar {
  left: -270px;
}
.no-csstransforms.no-csstransitions #theming-sidebar.active {
  left: 0;
}

.no-js #theming-tab {
  display: none;
}
.no-js #theming-sidebar {
  position: static;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: auto;
}

#theming-tab {
  display: block;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: -24px;
  color: #fff;
  top: 140px;
  display: block;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #0b4d6e;
  height: 32px;
  line-height: 28px;
  width: 22px;
  text-align: center;
}
#theming-tab:hover {
  background: #106d9c;
}
