/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* =============================================================================
   MOBILE "To Top" nav
   ========================================================================== */
html.js #toTop {
  display: none;
}

#toTop {
  background: #0b4d6e;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUKTW5FMMUbAAAAAXRSTlPM0jRW/QAAAApJREFUeJxjYgAAAAYAAzY3fKgAAAAASUVORK5CYII=');
  background: rgba(10, 77, 110, 0.8);
  z-index: 1;
  text-shadow: 1px 1px 0 #020c11;
  border-radius: 4px 0 0 4px;
  color: white;
}

#toTop {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  position: fixed;
  right: 0;
  bottom: 10px;
  padding: 1em;
  line-height: 1;
  font-size: .875em;
}
