/* Import Sass mixins, variables, Compass modules, etc. */
@import "my-sass-resources/base";

$zen-column-count:  24;

.resource-center {
	ul {
		margin: 0;
	}
	.field-resource-category-image{
	}
	.resource-title {
		font-size: 1em;
		margin-bottom: 6px;
		padding: 0 1em;
		// margin-left: -4px;
	}
	.resource-item {
		margin-bottom: 24px;
	}
	.resource-text {
		padding: 0 1em;
	}
}


#block-dsawm-custom-landing-header {
	@include clear-floats;
	.node-title, h1, h2 {
		margin-top: 0;
		position: relative;
		top: 5px;
	}
	.resource-header {
		font-size: .915em;
	}
	.header-left {
		float: left;
		margin-bottom: 24px;
		// border: 5px solid #ffffff;
		// @include box-shadow(0 8px 6px -6px #d1d1d1);
	}
	.header-right {
		clear: both;
		float: left;
		line-height: 1.5;
	}
	@include breakpoint(860px) {
		.header-image {
			width: 597px;
			height: 251px;
			max-width: none;
		}
		.header-left {
			float: left;
			margin-right: 24px;
			margin-bottom: 0;
		}
		.header-right {
			clear: none;
			float: none;
		}
	}
}



/* Resource Detail Page */


.view-resources.view-display-id-page {
	.resource-title {
		font-size: 1.15em;
		margin-bottom: .5em;
	}
	.resource-phone {
		margin-bottom: .5em;
		ul {
			@include clean-list;
			margin: 0;
		}
		li {
			display: inline-block;
			margin-right: 6px;
		}
	}
	.views-row {
		margin-bottom: .5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #d1d1d1;
	}
	.views-row-last {
		border-bottom: 1px solid transparent;
	}
	.field-resource-link {
		margin-bottom: .5em;
	}
	.field-resource-description {
	}
	.field-resrource-category-wrapper {
		margin-top: 6px;
		.field-resrource-category {
			display: inline-block;
			a {
				display: block;
				background: #f1f1f1;
				padding: 2px 6px;
				@include transition(all .15s ease);
				&:hover {
					background: $link-color;
					padding: 2px 10px;
					color: #ffffff;
				}
			}
		}
	}
}

#block-views-resrource-types-block-1 {
	.field-resource-category-image {
		float: left;
		margin: 0 12px 12px 0;
	}
	ul {
		margin: 0;
	}
	h1 {
		margin-bottom: .5em;
		margin-top: 0;
	}
}

// Menu 

$d-blue-d: #0b4d6e;
// rgba(11,77,110, 1)
#block-views-resrource-types-block-2 {
	@include rgba-background(rgba(11,77,110, .25));
	border: 1px solid rgba(11,77,110, .3);
	@include box-shadow(rgba(255,255,255,.2) 2px 2px 1px);
	padding: 12px;
	a {
		line-height: 1;
		display: block;
		color: #fff;
		padding: 4px 6px;
		@include text-shadow(rgba(0,0,0, 0.2) 0 1px 1px);
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		&:hover {
			color: #fff;
			@include border-radius(2px);
			@include rgba-background(rgba(0,0,0,.05));
		}
		&:active {
			background: #0b4d6e;
		}
		&:visited {
			color: #fff;
		}
	}
	.ui-list {
		margin: 0;
	}
	li {
		color: #dbde72;
		margin: 0 0 1px 0;
	}
}

/* Content area promotions */
#block-views-promotions-block-1 {
	@include breakpoint($tablet-portrait-min-width) {
		display: none;
	}
}

/* Sidebar area promotions */
#block-views-promotions-block {
	display: none;
	padding: 1em 0 1.5em 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
	.views-row {
		@include rgba-background(rgba(255,255,255,.95));
	}
	@include breakpoint($tablet-portrait-min-width) {
		display: block;
	}
}
