.resource-center {
	ul {
		margin: 0;
	}
	.field-resource-category-image{
		padding: 1em;
	}
	.resource-title {
		font-size: 1.15em;
		margin-top: 0;
		margin-bottom: 6px;
		padding: 0 1em;
	}
	.resource-item {
		margin-bottom: 12px;
	}
	.resource-text {
		padding: 0 1em;
	}
}

