@import "my-sass-resources/base";

/* =============================================================================
   MOBILE "To Top" nav
   ========================================================================== */

html.js #toTop {
  display: none;
}

#to-top {
    background: $link-color;
    @include rgba-background-inline(rgba(10,77,110, .8));
    z-index: 1;
    @include single-text-shadow(darken($link-color, 20%), 1px, 1px, 0);
    border-radius: 4px 0 0 4px;
    color: white;
}

#to-top {
  font-family: $base-page-title-family;
  position: fixed;
  right: 0;
  bottom: 10px;
  padding: 1em;
  line-height: 1;
  font-size: .75em;
}

 