/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: 'icomoon';
  src: url("../../icons/icomoon.eot");
  src: url("../../icons/icomoon.eot?#iefix") format("embedded-opentype"), url("i../../cons/icomoon.ttf") format("truetype"), url("../../icons/icomoon.woff") format("woff"), url("../../icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.4em;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body {
  letter-spacing: 0.04em;
  font-size: 93.75%;
}

/* Typography
   ========================================================================== */
[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="icon-"]:before {
  vertical-align: middle;
}

.icon-phone:before {
  content: "\e600";
}

.icon-export:before {
  content: "\e601";
}

.icon-cross:before {
  content: "\e602";
}

.icon-plus:before {
  content: "\e603";
}

.icon-minus:before {
  content: "\e604";
}

.icon-info:before {
  content: "\e605";
}

.icon-cross2:before {
  content: "\e606";
}

.icon-rss:before {
  content: "\e607";
}

.icon-facebook:before {
  content: "\e608";
}

.icon-twitter:before {
  content: "\e609";
}

.icon-arrow-left:before {
  content: "\e60a";
}

.icon-arrow-down:before {
  content: "\e60b";
}

.icon-arrow-up:before {
  content: "\e60c";
}

.icon-arrow-right:before {
  content: "\e60d";
}

.icon-download:before {
  content: "\e60e";
}

.icon-upload:before {
  content: "\e60f";
}

.icon-mail:before {
  content: "\e610";
}

.icon-mobile:before {
  content: "\e611";
}

.icon-list:before {
  content: "\e612";
}

.icon-layout:before {
  content: "\e613";
}

.icon-checkmark:before {
  content: "\e614";
}

.icon-location:before {
  content: "\e615";
}

.icon-plus:before {
  content: "\e616";
}

.icon-minus:before {
  content: "\e617";
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

h1, h2, h3, h4, h5, h6 {
  color: #454545;
  font-weight: normal;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

.menu {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/**
 * Titles.
 */
.page__title,
.node__title,
.block__title,
.comments__title,
.comments__form-title,
.comment__title {
  /* Comment title. */
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.block-title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #454545;
}

#page-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
}

.field-label {
  font-weight: bold;
  font-size: 1em;
}

h3.field-label {
  margin-bottom: .25em;
}

/* Thematic break */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 24px 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 24px 36px;
  border-left: 3.2px solid #e4e491;
  padding: 8px 16px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 3em 0;
}

p {
  margin: 0;
}

p + p {
  margin-top: 24px;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: monospace, "Courier New", "DejaVu Sans Mono", sans-serif;
  /* The $font-monospace value ends with ", serif". */
  margin: 3em 2.25em;
  overflow: auto;
  padding: 24px;
  color: #fff;
  background: #192A56;
  font-size: 14px;
  line-height: 1.5em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

/* @todo Determine how big element affects vertical rhythm. */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

button, input, textarea {
  font-size: 0.85em;
}

.form-type-checkbox label, .form-type-radio label {
  font-size: 0.85em;
}

/* WYSIWYG / BASIC PAGE FIELD CSS */
.wys-divider {
  height: 0;
  border-bottom: 1px solid #e9e9a5;
  margin: 24px 0;
}

.wys-intro-title {
  font-weight: bold;
}

.wys-intro-text {
  font-weight: normal;
}

.wys-section-title {
  font-weight: bold;
}

.wys-block-title {
  font-weight: bold;
  color: #3f3f3c;
}
