/* Import Sass mixins, variables, Compass modules, etc. */
@import "my-sass-resources/base";

/**
 * @file
 * User Interface Styling: buttons, blocks, etc...
 */

/**
 * Wireframes.
 */
.with-wireframes {
  #header,
  #main,
  #content,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .region-bottom {
    outline: 1px solid #ccc;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      .lt-ie8 & {
        /* IE6/7 do not support the outline property. */
        border: 1px solid #ccc;
      }
    }
  }
}


/* Messages
   ========================================================================== */


.messages {
  margin: $vert-gutter 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-ok.png");
  }
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}
.messages--status {
  @extend .messages;
  @extend %ok;
}
.messages--warning {
  @extend .messages;
  @extend %warning;
  background-image: inline-image("message-24-warning.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-warning.png");
  }
  border-color: #ed5;
}
.messages--error {
  @extend .messages;
  @extend %error;
  background-image: inline-image("message-24-error.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: image-url("message-24-error.png");
  }
  border-color: #ed541d;

}
.messages__list {
  margin: 0;
}
.messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error  p.error {
  color: #333;
}

/* System status report. */
.ok,
%ok {
  background-color: #f8fff0;
  color: #234600;
}
.warning,
%warning {
  background-color: #fffce5;
  color: #840;
}
.error,
%error {
  background-color: #fef5f1;
  color: #8c2e0b;
}


/* Pagination
   ========================================================================== */

/**
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}
%pager__item {
  list-style-type: none;
  background-color: $pager-color;
  @include background-image(linear-gradient(center top, $pager-color, darken($pager-color, 10%)));
  background-repeat: repeat-x;
  border: 1px solid darken($pager-color, 5%);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  @include border-radius($ui-border-radius);
  @include box-shadow(rgba(255, 255, 255, 0.2) 0 1px 0 inset, rgba(0, 0, 0, 0.05) 0 1px 2px);
  color: #fff; 
  text-shadow: 0 1px 1px #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: .5em;
  a {
    color: #fff;
    display: inline-block;
    padding: .5em;

    &:visited {
      color: #fff
    }
    &:hover, &:active {
      background-color: $pager-color;
      @include background-image(linear-gradient(center top, darken($pager-color, 2%), $pager-color));
      background-repeat: repeat-x;
      border: 1px solid darken($pager-color, 5%);
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      @include border-radius($ui-border-radius);
      @include box-shadow(rgba(255, 255, 255, 0.2) 0 0 8px inset, rgba(0, 0, 0, 0.05) 0 1px 2px);
      text-shadow: 0 1px 1px darken($pager-color, 30%);
      text-transform: uppercase;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      text-align: center;
      text-decoration: none;
    }
  }
}

.pager-item,      /* A list item containing a page number in the list of pages. */
.pager-first,     /* The first page's list item. */
.pager-previous,  /* The previous page's list item. */
.pager-next,      /* The next page's list item. */
.pager-last,      /* The last page's list item. */
.pager-ellipsis { /* A concatenation of several list items using an ellipsis. */
}

/* The current page's list item. */
.pager-current {
  font-weight: bold;
  margin: 0 0.25em;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
  li { /* Each page number in the pager list */
    padding: 0 0.15em;
    margin-right: .25em;
    line-height: 27px;
    vertical-align: bottom;
    margin: 0 .5em;
  }
}

.item-list {
    overflow: hidden;
}

/* oDesk pagination.... better than mine ? */
.pager a {
  line-height: 22px;
 cursor: pointer;
 font-weight: normal;
 font-size: 16px;
 padding: 3px 10px;
 color: #80807C;
 font-size: .915em;
 background-image: -webkit-gradient(linear,center top,center bottom,color-stop(0%,#F4F4F2),color-stop(100%,#E5E5E3));
 background-image: -webkit-linear-gradient(#F4F4F2 0,#E5E5E3 100%);
 background-image: -moz-linear-gradient(#F4F4F2 0,#E5E5E3 100%);
 background-image: -o-linear-gradient(#F4F4F2 0,#E5E5E3 100%);
 background-image: -ms-linear-gradient(#F4F4F2 0,#E5E5E3 100%);
 background-image: linear-gradient(#F4F4F2 0,#E5E5E3 100%);
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 border-radius: 5px;
 border: 1px solid #D1D1D1;
 border-bottom-color: #B8B8B8;
 box-shadow: 0 2px 2px rgba(204, 202, 202, 0.51),inset 0 1px 0 rgba(229, 228, 228, 0.51);
 text-shadow: 0 1px 0 rgba(128, 128, 124, 0.1);
 display: -moz-inline-box;
 -moz-box-orient: vertical;
 display: inline-block;
 vertical-align: middle;
 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#F4F4F2",endColorstr="#E5E5E3");
 &:hover, :focus {
  background-color: #D1D1D1;
  background-image: none;
  @include box-shadow(none);
 }
 &:active {
  background-color: #89c3d1;
  border: 1px solid darken(#89c3d1, 20%);
  color: #fff;
  @include box-shadow(none);
  &:visited {
    color: #fff;
  }
 }
 &:visited {
  color: #80807C;
 }
}


/* NODE EDIT TABS
   ========================================================================== */

ul.tabs-primary,
ul.tabs-secondary {
 @include clearfix;
 list-style: none;
 margin: 1em 0 2.5em;
 padding: 0 2px;
 white-space: nowrap;
 li {
   float: left; /* LTR */
   margin: 0.5em 3px 0;
 }
 a, a:link {
   display: block;
   text-decoration: none;
 }
}


ul.tabs-primary {
      li {
        border: 1px solid darken($link-color, 10%);
        border-bottom: 0;
        margin: 0.5em 0 0 3px; /* LTR */
        @include border-top-radius(4px);
        @include single-text-shadow(#fff, 1px, 1px, 0);
          &.active {
            a {
              background-color: $link-color;
              @include background-image(linear-gradient(center top, $link-color, darken($link-color, 10%)));
              color: lighten($link-color, 50%);
              font-weight: normal;
              background-repeat: repeat-x;
              border: 1px solid darken($link-color, 10%);
              border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
              @include box-shadow(rgba(255, 255, 255, 0.2) 0 0 8px inset, rgba(0, 0, 0, 0.05) 0 1px 2px);
            }
          }
          a {
            border-bottom: 1px solid #ffffff;
            margin-bottom: -1px; /* Overlap the uls border. */
            font-weight: bold;
            font-size: .75 * $base-font-size;
            text-transform: uppercase;
            background: none repeat scroll 0 0 $link-color;
            border: 1px solid $link-color;
            @include border-top-radius(4px);
            @include box-shadow(lighten($link-color, 10%) 0 0 2px inset); 
            color: #ffffff;
            text-shadow: 0 1px 1px darken($link-color, 10%);
            line-height: 26px;
            padding: 0 20px;
              &:hover {
                text-decoration: none;
                @include background-image(linear-gradient(center top, $link-color, darken($link-color, 10%)));
                @include box-shadow(lighten($link-color, 10%) 0 0 4px);
                border: 1px solid lighten($link-color, 10%);
                
              }
              &.active {
                background: none repeat scroll 0 0 #ffffff;
                @include background(linear-gradient(top center, #F1F1F1, #ffffff));
                @include box-shadow(none);
                color: #494949;
                text-shadow: none;
                border: 1px solid #FFFFFF;
                border-bottom: 1px solid #fff;
                text-shadow: none;
                &:hover {
                  @include background(linear-gradient(top center, #F1F1F1, #ffffff));
                  @include box-shadow(none); 
                }
              }
            }  
      }
}

// /*
//  * Secondary tabs STOCK 
//  */

// ul.secondary {
//   font-size: .9em;
//   margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
//   padding-bottom: .5em;

//   a:link,
//   a:visited {
//     @include border-radius(.75em);
//     @include transition(background-color 0.3s);
//     @include single-text-shadow(#fff, 1px, 1px, 0);
//     background-color: #f2f2f2;
//     color: #666;
//     padding: 0 .5em;
//   }
//   a:hover,
//   a:focus {
//     background-color: #dedede;
//     border-color: #999;
//     color: #333;
//   }
//   a.active,
//   a:active {
//     @include single-text-shadow(#333, 1px, 1px, 0);
//     background-color: #666;
//     border-color: #000;
//     color: #fff;
//   }
// }

 /* Placeholder and highlight color
    ========================================================================== */

 ::-webkit-input-placeholder {
  @include transition-all;
   color: lighten($body-font-color, 20%);
   &:focus {
     color: lighten($body-font-color, 75%);
   }
 }

 // Make disappear on focus in iOS... This works in Chrome as opposed to the above focus style
 :focus::-webkit-input-placeholder{
  color:lighten($body-font-color, 75%);
 }

 :-moz-placeholder { /* Firefox 18- */
  color: lighten($body-font-color, 20%);
  &:focus {
    color: lighten($body-font-color, 75%);
  }
 }

 ::-moz-placeholder {  /* Firefox 19+ */
  color: lighten($body-font-color, 20%);
  &:focus {
    color: lighten($body-font-color, 75%);
  }
 }

 :-ms-input-placeholder {  
  color: lighten($body-font-color, 20%);
  &:focus {
    color: lighten($body-font-color, 75%);
  }
 }

::selection {
	background: $link-color; /* Safari */
	color: lighten($link-color, 60%);
	}
::-moz-selection {
	background: $link-color; /* Firefox */
	color: lighten($link-color, 60%);
}



 /* Misc
    ========================================================================== */

.ui-list-wrpr ul {
  @include clean-list;
}

ul.ui-list {
  @include clean-list;
}


.shadow-bottom, #block-views-resrource-types-block, #block-views-promotions-block-1 {
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding-bottom: 24px;
  &:before {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 0;
    height: 30px;
    width: 100%;
    @include box-shadow(#d1d1d1 0 0 12px);
    @include border-radius(12px);
  }
}

.shadow-top, #block-views-resrource-types-block, #block-views-promotions-block-1 {
  background: #f1f1f1;
  padding: 24px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding-top: 24px;
  &:before {
    content: "";
    position: absolute;
    top: -31px;
    left: 0;
    height: 30px;
    width: 100%;
    @include box-shadow(#d1d1d1 0 0 12px);
    @include border-radius(12px);
  }
}

$diag-bgrd-color: darken($link-color, 5%);
$diag-stripe-color: darken($link-color, 8%);

.diag-bgrd {
  background-color: $diag-bgrd-color;
  background-image: repeating-linear-gradient(-30deg, transparent, transparent 8px, $diag-stripe-color 8px, $diag-stripe-color 16px);
  border-top: 5px solid $diag-stripe-color;
  border-bottom: 5px solid $diag-stripe-color;
}

// .header-left {
//   @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
//   position: relative;
//   background-color: #fff;
//   border: 5px solid #fff;
// }

.img-shadow { 
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset);
    position: relative; 
    background-color: #FFFFFF; 
    border-width: 5px; 
    border-style: solid; 
    border-color: #ffffff; 
    border-radius: 0px; 
    &:before {
      content: ""; 
      z-index: -1; 
      position: absolute; 
      width: 50%; 
      top: 160px; 
      bottom: 15px; 
      left: 10px; 
      -webkit-transform: rotate(-3deg); 
      transform: rotate(-3deg); 
      box-shadow: 0px 15px 10px #777; 
    }
    &:after {
      content: ""; 
      z-index: -1; 
      position: absolute; 
      width: 50%; 
      top: 160px; 
      right: 10px; 
      bottom: 15px; 
      -webkit-transform: rotate(3deg); 
      transform: rotate(3deg); 
      box-shadow: 0px 15px 10px #777; 
    }
}

.field-resource-category-image { 
    display: inline-block;
    position: relative; 
    background-color: #FFFFFF; 
    border-width:1px; 
    border-style: solid; 
    border-color: #ffffff; 
    border-radius: 0px; 
    // &:before {
    //   content: ""; 
    //   z-index: -1; 
    //   position: absolute; 
    //   width: 50%; 
    //   top: 60px; 
    //   bottom: 15px; 
    //   left: 10px; 
    //   -webkit-transform: rotate(-3deg); 
    //   transform: rotate(-3deg); 
    //   box-shadow: 0px 15px 10px #777; 
    // }
    &:after {
      content: ""; 
      z-index: -1; 
      position: absolute; 
      width: 70%; 
      top: 60px; 
      right: 10px; 
      bottom: 15px; 
      -webkit-transform: rotate(3deg); 
      transform: rotate(3deg); 
      @include box-shadow(0px 15px 10px #777);
      margin-left: -35%;
    }
}

.no-boxshadow {
  .img-shadow {
    border: 5px solid #d1d1d1;
  }
}