/* Import Sass mixins, variables, Compass modules, etc. */
@import "my-sass-resources/base";

$nav-color: $link-color;


/* Behavior
   ========================================================================= */

#mobile-nav-toggle {
  @include breakpoint($tablet-portrait-min-width) {
    display: none;
  }
}
 
#mobile-nav-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  @include breakpoint($phone-min-width) {
    top: 44px;
  }
}

/* Toggle Button
   ========================================================================= */

.nav-button {
  display: block;
  width: 36px;
  height: 32px;
  cursor: pointer;
}


.nav-button {
  background-color: transparent;
  color: $nav-color;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 7px 5px;
  @include border-radius($ui-border-radius);
  line-height: 18px;
  margin-bottom: 0;
  text-align: center;
  &:hover, &:active {
    color: lighten($nav-color, 20%);
    .toggle-bar {
      background-color: lighten($nav-color, 20%);
    }
  }
}

.toggle-bar {
  background-color: $nav-color;
  @include border-radius(1px);
  display: block;
  margin-top: 0;
  height: 3px;
  width: 24px;
  line-height: 14px;
  vertical-align: text-top;
}

.toggle-bar + .toggle-bar {
  margin-top: 3px;
}

/* Base Desktop Styles
   ========================================================================= */

$orange-d: #ad881d;
$purple-d: #90749d;
$green-d: #78ac7e;
$brown-d: #91521d;


@include breakpoint($tablet-portrait-min-width) {
  #navigation {
    margin-left: 0;
    margin-right: 0;
    float: right;
    clear: none;
    background: none;

    .block-menu .block-title,
    .block-menu-block .block-title {
      @include element-invisible();
    }

    ul.links, /* Main menu and secondary menu links */
    ul.menu { /* Menu block links */
      margin: 0;
      padding: 0;
      text-align: left; /* LTR */

      li { /* A simple method to get navigation links to appear in one line. */
        float: left; /* LTR */
        padding: 0 10px 0 0; /* LTR */
        list-style-type: none;
        list-style-image: none;
        border-bottom: none;
        &.last {
          margin-right: 0;
          padding-right: 0;
          a {
            border-bottom: 2px solid transparent;
          }
        }
        a {
          padding: .25em .5em;
          font-size: .8461em;
          line-height: 1;
          padding: .75em 1em .5em 1em;
          @include transition(all .15s ease);
          color: $link-color;
          @include rgba-background(rgba(0,0,0, .05));
          border-bottom: 2px solid transparent;
        &:hover {
          padding-top: 1em;
          @include rgba-background(rgba(0,0,0, .05));
          border-bottom: 2px solid $link-color;
        } 
        &:active {
          background: darken($nav-color, 5%);
          @include box-shadow(rgba(0,0,0,.25) 0 0 10px inset);
          color: #fff;
        }
        }
      }
      .menu-mlid-546 {
        a {
          &:hover {
            border-bottom: 2px solid $orange-d;
          }
          &:active {
            background: $orange-d;
          }
        }
      }

      .menu-mlid-547 {
        a {
          &:hover {
            border-bottom: 2px solid $purple-d;
          }
          &:active {
            background: $purple-d;
          }
        }
      }

      .menu-mlid-548 {
        a {
          &:hover {
            border-bottom: 2px solid $green-d;
          }
          &:active {
            background: $green-d;
          }
        }
      }
       
      .menu-mlid-549 {
        a {
          &:hover {
            border-bottom: 2px solid $brown-d;
          }
          &:active {
            background: $brown-d;
          } 
        }
      }
    }
  }
} // END TABLET MEDIA QUERY


