/* Import Sass mixins, variables, Compass modules, etc. */
@import "my-sass-resources/base";

/* Off-Canvas Sidebar (body.has-sidebar-first)
   ========================================================================== */
   

#sidebar-toggle {
 display: block;
 z-index: 10px;
 cursor: pointer;
}

#sidebar-toggle {
   display: inline-block;
   font-size: .75em;
   color: #fff;
   background-color: $link-color;
   @include background-image(linear-gradient(center top, $link-color, darken($link-color, 10%)));
   background-repeat: repeat-x;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   color: lighten($link-color, 60%);
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   margin-right: 10px;
   padding: 3px 10px;
   @include border-radius(2px);
   border-style: solid;
   border-width: 1px;
   -moz-border-bottom-colors: none;
   -moz-border-image: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   line-height: 20px;
   margin-bottom: 0;
   text-align: center;
   vertical-align: middle;
   @include breakpoint($tablet-portrait-min-width) {
      display: none;
   }
}

#nav-inner {
   margin-bottom: 12px;
}

/* BUTTON CSS */

.js #navigation #nav-inner #sidebar-toggle:hover, .js #navigation #nav-inner #sidebar-toggle:focus {
   background-color: $link-color;
}
.js #navigation #nav-inner #sidebar-toggle:active {
   background-color: #000000;
   @include box-shadow(#ffffff 0 0 5px inset);
}  

#content:before {
   content: " ";
   height: 100%;
   left: -100%;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -1;
}
#sidebar-first, #content {
   display: block;
   position: relative;
   @include transition(all 0.25s ease-in-out);
   width: 100%;
   z-index: 1;
}

#sidebar-first {
   float: left;
   margin-left: -100%;
   width: 80%;
   z-index: 2;
   @include box-sizing(border-box);
   @include breakpoint($tablet-portrait-min-width) {
      margin-left: 0;
   }
}
#content {
   float: right;
   margin-left: 0;
   position: relative;
   z-index: 1;
}

.show-sidebar #sidebar-first {
   margin-left: 0;
}
.show-sidebar #content {
   margin-right: -80%;
}

.sidebar-button {
   display: none;
}

