/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* BODY
   ========================================================================== */
/* HEADER
   ========================================================================== */
/**
 * Branding header.
 */
#logo-wrapper {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 24px 0 0;
  margin-top: 12px;
}
@media (min-width: 47.5em) {
  #logo-wrapper {
    height: 90px;
    width: 393px;
    padding: 0;
  }
}

#logo {
  height: 90px;
  width: 100%;
  display: block;
  overflow: hidden;
  text-indent: -9999em;
  background: url(../../../images/svg/dsawm-logo.svg) no-repeat scroll top left;
  background-size: contain;
}
@media (min-width: 47.5em) {
  #logo {
    height: 90px;
    width: 393px;
  }
}
#logo img {
  vertical-align: bottom;
}

html.no-svg #logo {
  background: url(../../images/dsawm-logo.png) no-repeat scroll transparent;
}

#logo {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Wrapping link for logo. */
.header__logo {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

/* The link around the name of the website. */
.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}
.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;
  /* LTR */
}

/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  clear: both;
}

/* MAIN
   ========================================================================== */
#main-wrapper {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(100px, #89c3d1), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#89c3d1 100px, #ffffff 100%);
  background: -moz-linear-gradient(#89c3d1 100px, #ffffff 100%);
  background: -o-linear-gradient(#89c3d1 100px, #ffffff 100%);
  background: linear-gradient(#89c3d1 100px, #ffffff 100%);
}

/* CONTENT
   ========================================================================== */
.region-content-top,
.region-content-bottom,
.region-highlighted {
  margin-bottom: 2em;
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/* FIRST SIDEBAR
   ========================================================================== */
/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* SECOND SIDEBAR
   ========================================================================== */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* FOOTER
   ========================================================================== */
/* PAGE BOTTOM
   ========================================================================== */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
