/* Import Sass mixins, variables, Compass modules, etc. */
/* Darken table when in a ui-block */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* General Webform Styles
   ========================================================================== */
.webform-client-form {
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #8fd4e0;
}
.webform-client-form fieldset {
  background: none;
  border: none;
  padding: 0;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}
.webform-client-form fieldset:before, .webform-client-form fieldset:after {
  content: "";
  display: table;
}
.webform-client-form fieldset:after {
  clear: both;
}
.webform-client-form fieldset legend {
  font-size: 1.143em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #E36E5F;
  font-weight: bold;
}

.node-webform.view-mode-full .field-body {
  padding: 1em 0;
}
